<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYTickViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B8A60481F298FDA000B5ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B8A60611F298FDA000B5ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B8A606C1F298FDA000B5ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
